In [1]:
import pandas as pd
import os
import sys
from ast import literal_eval

def load_tree(tree_file):
    load_tree = pd.read_csv(tree_file, index_col=0)
    load_tree = load_tree.to_dict("index")
    for v in load_tree.values():
        try:
            v["Child"] = literal_eval(v["Child"])
            v["RemainStock"] = eval(v["RemainStock"])
        except:
            continue
    return load_tree

In [4]:
input_tree = "ucb12"
#week_tree = load_tree("./output/"+input_tree+".csv")
week_tree = pd.read_csv("./output/"+input_tree+".csv", index_col=0)

D:\ProgramData\Anaconda3\lib\site-packages\numpy\lib\arraysetops.py:472: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [67]:
from ast import literal_eval
week_tree["NumOfWeek"] = week_tree["Week"] % 12
search_week = week_tree[week_tree["NumOfWeek"] == 2]
search_type = search_week[search_week["Type"] == "D"]
search_stock = search_type[search_type["RemainStock"] == "{'A': 6, 'C': 8, 'B': 8}"]
output = []
for se in search_stock["Child"]:
    child_list = literal_eval(se)
    output.append(week_tree[week_tree.index.isin(child_list)])
result = pd.concat(output)
result

,Child,MaxPrice,Parent,Price,RemainStock,Type,UCB,V,Week,n,NumOfWeek
661,[],NaN,660.0,99.0,NaN,S,inf,0,146,0,2
662,[],NaN,660.0,199.0,NaN,S,inf,0,146,0,2
663,[],NaN,660.0,299.0,NaN,S,inf,0,146,0,2
664,[3523],NaN,660.0,399.0,NaN,S,1.373511e+04,12070,146,1,2
665,[],NaN,660.0,499.0,NaN,S,inf,0,146,0,2
666,[671],NaN,660.0,599.0,NaN,S,1.633511e+04,14670,146,1,2
667,[],NaN,660.0,699.0,NaN,S,inf,0,146,0,2
668,[],NaN,660.0,799.0,NaN,S,inf,0,146,0,2
669,[],NaN,660.0,899.0,NaN,S,inf,0,146,0,2
670,[],NaN,660.0,999.0,NaN,S,inf,0,146,0,2
7782,[7792],NaN,7781.0,99.0,NaN,S,1.284911e+04,9370,2,2,2
7783,[38531],NaN,7781.0,199.0,NaN,S,1.589020e+04,10970,2,1,2
7784,[19061],NaN,7781.0,299.0,NaN,S,1.584911e+04,12370,2,2,2
7785,[27072],NaN,7781.0,399.0,NaN,S,1.584911e+04,12370,2,2,2
7786,[40093],NaN,7781.0,499.0,NaN,S,1.691068e+04,14070,2,3,2
7787,[41655],NaN,7781.0,599.0,NaN,S,1.654350e+04,15060,2,11,2
7788,[30771],NaN,7781.0,699.0,NaN,S,1.705351e+04,16805,2,392,2
7789,[28789],NaN,7781.0,799.0,NaN,S,1.638466e+04,14525,2,7,2
7790,[34677],NaN,7781.0,899.0,NaN,S,1.601068e+04,13170,2,3,2
7791,[9982],NaN,7781.0,999.0,NaN,S,1.630111e+04,12822,2,2,2
21715,[909825],NaN,21714.0,99.0,NaN,S,1.170727e+04,9170,146,1,2
21716,[276194],NaN,21714.0,199.0,NaN,S,1.370727e+04,11170,146,1,2
21717,[23607],NaN,21714.0,299.0,NaN,S,1.426412e+04,12470,146,2,2
21718,[],NaN,21714.0,399.0,NaN,S,inf,0,146,0,2
21719,[],NaN,21714.0,499.0,NaN,S,inf,0,146,0,2
21720,[],NaN,21714.0,599.0,NaN,S,inf,0,146,0,2
21721,[21725],NaN,21714.0,699.0,NaN,S,1.560727e+04,13070,146,1,2
21722,[],NaN,21714.0,799.0,NaN,S,inf,0,146,0,2
21723,[],NaN,21714.0,899.0,NaN,S,inf,0,146,0,2
21724,[],NaN,21714.0,999.0,NaN,S,inf,0,146,0,2